<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STADVDB Web App</title>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- JS Files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="/js/dashboard.js" defer></script>


</head>
<body>
  <div class="container-fluid">
		<div class="row flex-nowrap">
      <%-include('components/sidebar.ejs')%>
			<div class="col py-3">
        <div class="container mt-5">
          <h1 class="mb-4">Dashboard</h1>
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="container">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="mb-3" style="color: darkcyan;">Appointments</h5>
                      <div class="d-flex justify-content-between">
                        <span>Total Number of Appointments</span>
                        <span class="ml-auto"><%=totalCount%></span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <span>Number of Appointments in Luzon</span>
                        <span class="ml-auto"><%=luzonCount%></span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <span>Number of Appointments in Visayas</span>
                        <span class="ml-auto"><%=visayasCount%></span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <span>Number of Appointments in Mindanao</span>
                        <span class="ml-auto"><%=mindanaoCount%></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container col-8 align-middle">
              <div class="row-1 mb-3">
                <label for="Region" class="form-label"><strong>Region Name</strong></label>
                <select class="form-select" id="Region" aria-label="Region Name" required>
                  <option value="" hidden>Region Name</option>
                  <option disabled>Luzon</option>
                  <option value="Ilocos Region (I)">Ilocos Region (I)</option>
                  <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                  <option value="Central Luzon (III)">Central Luzon (III)</option>
                  <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
                  <option value="MIMAROPA Region (IV-B)">MIMAROPA Region (IV-B)</option>
                  <option value="Bicol Region (V)">Bicol Region (V)</option>
                  <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                  <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                  <option disabled>Visayas</option>
                  <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                  <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                  <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                  <option disabled>Mindanao</option>
                  <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                  <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                  <option value="Davao Region (XI)">Davao Region (XI)</option>
                  <option value="SOCCSKSARGEN (Cotabato Region) (XII)">SOCCSKSARGEN (Cotabato Region) (XII)</option>
                  <option value="Caraga (XIII)">Caraga (XIII)</option>
                  <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
                </select>
              </div>
              <canvas class="row" id="myChart" style="display: block; box-sizing: border-box; height: 535px; width: 856px;" width="959" height="479"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</body>
</html>